<h3>Wiki words</h3>
<p style="border-top: 1px dotted #ccc; margin-top: 0px">
  Any phrase surrounded by double brackets is a wiki word.  Two or
  more uppercase words stuck together (camel case) is <i>not</i> a
  wiki word.
</p>
<p>
  Wiki words: <i>[[C++]], [[Let's play!]]</i><br/>
  Not wiki words: <i>IBM, School, HomePage, ThreeWordsTogether</i>
</p>
